.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left top, #051937, #3d2849, #693a53, #8e5257, #a8725b);
  overflow: hidden;
}
